# (las keys van en '.env.local' cuando se compartan el proyecto)

VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""
VITE_MOCKAPI_ENDPOINT_EMPLEOS=
VITE_MOCKAPI_ENDPOINT_CURSOS=

VITE_ADMINISTRADORES=""
VITE_MOCKAPI_ENDPOINT_USERS=
VITE_API_BASE=